@model SafeFutureWebApplication.Repository.Models.User
@{
    ViewBag.Title = "Register New User Account";
}

<h2>Create New User Account</h2>

<div class="container">
    <form asp-action="Create" method="post">
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Username">Username:</label>
            <input asp-for="Username" type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Password">Password:</label>
            <input asp-for="Password" type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Role">Role:</label>
            <select asp-for="Role" class="form-control">
                <option value="">Choose a role:</option>
                <option value="Admin">Admin</option>
                <option value="Staff">Staff</option>
                <option value="Dev">Dev</option>
            </select>
        </div>
        <p>
            <button type="submit" class="btn btn-primary">Create User</button>
        </p>
    </form>
</div>
