@model SafeFutureWebApplication.Models.User
@{
    ViewBag.Title = "Edit User Account";
}

<h2>Create Edit Account</h2>

<div class="container">
    <form asp-controller="Admin" asp-action="Edit" method="post">
        <input asp-for="UserId" type="text" class="form-control" hidden/>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Username">Username</label>
            <input asp-for="Username" type="text" class="form-control" />
        </div>
        <input asp-for="Password" type="text" class="form-control" hidden/>
        <div class="mb-3">
            <label asp-for="Role">Role:</label>
            <select asp-for="Role" class="form-control">
                <option value="">Choose a role:</option>
                <option value="Admin">Admin</option>
                <option value="Staff">Staff</option>
            </select>
        </div>
        <p>
            <button type="submit" class="btn btn-success m-2">Save Changes</button>
            <button type="submit" class="btn btn-outline-success m-2" asp-action="Index">Cancel Changes</button>
        </p>
    </form>
</div>
