@{
    ViewData["Title"] = "Admin Page";
    <!-- Admin/Index.cshtml -->
}

<div class="container">
    <div class="row">
        @Html.ActionLink("Customer Portal", "Index", "Customer", null, new { @class = "btn btn-success m-2" })
        @Html.ActionLink("Customer Portal", "Index", "Customer", null, new { @class = "btn btn-success m-2" })

    </div>

</div>
