@{
    ViewData["Title"] = "Admin Page";
}

<div class="container">
    <div class="row">
        @Html.ActionLink("Generate Reports", "Reports", "Admin", null, new { @class = "btn btn-success m-2" })
<<<<<<< Updated upstream
        @Html.ActionLink("Manage Accounts", "Index", "User", null, new { @class = "btn btn-success m-2" })
=======
        @Html.ActionLink("Manage Accounts", "Manage", "Admin", null, new { @class = "btn btn-success m-2" })
>>>>>>> Stashed changes


    </div>

</div>
