@{
    ViewData["Title"] = "Admin Page";
    <!-- Admin/Index.cshtml -->
}

<div class="container">
    <div class="row">
        @Html.ActionLink("Placeholder Button", "Index", "Admin", null, new { @class = "btn btn-success m-2" })
        

    </div>

</div>
