@{
    ViewData["Title"] = "Admin Page";
    <!-- Admin/Index.cshtml -->
}

<div class="container">
    <div class="row">
        @Html.ActionLink("Generate Reports", "Reports", "Admin", null, new { @class = "btn btn-success m-2" })
        @Html.ActionLink("Create an Account", "Create", "Admin", null, new { @class = "btn btn-success m-2" })


    </div>

</div>
