@model List<SafeFutureWebApplication.Models.Recipient>

<div class="container">
    <h1>Generate Reports</h1>
</div>

<!-- DEFAULT REPORTS -->
<section class="container">
    <h2>Default Reports</h2>

    @Html.ActionLink("Weekly", "Reports", "Admin", null, new { @class = "btn btn-success m-2" })
    @Html.ActionLink("Monthly", "Reports", "Admin", null, new { @class = "btn btn-success m-2" })
    @Html.ActionLink("Quarterly", "Reports", "Admin", null, new { @class = "btn btn-success m-2" })

    <hr style="border-width:5px; color:black" />

</section>

<!-- CUSTOM REPORTS -->
<section class="container">
    <h2>Custom Reports</h2>

    <form name="customReport " id="customReport">
        <!-- ADD VALIDATION LATER, PERHAPS JAVASCRIPT -->
        <div>
            <label for="fromDate">From:</label>
            <input type="date" id="fromDate" />
            <label for="toDate">To:</label>
            <input type="date" id="toDate" />
        </div>
        <!-- Calls GetReport endpoint -->
        <button type="button" class="btn btn-success" onclick="getReport();">Generate Report (GetReport endpoint)</button>

        <!-- COLT REPORT TESTING -->
        <button type="submit" class="btn btn-danger"asp-controller="Admin" asp-action="ColtReportTesting">Click HERE for Reports test (TESTING)</button>

    </form>

    <hr style="border-width:5px; color:black" />

</section>

<footer>
    @Html.ActionLink("Go Back", "Index", "Admin", null, new { @class = "btn btn-success m-2" })
</footer>


