@model List<SafeFutureWebApplication.Models.Customer>

<div class="container">
    <h1>Generate Reports</h1>

</div>

<section class="container">
    <p>
        For this part, we will need to sit down with Chris
        and see the specific reports he would like to generate.

    </p>

    <p>
        We could use a grouping of buttons here, like "Report by Household Size"
        or "Report by Zipcode".

    </p>

    @Html.ActionLink("Go Back", "Index", "Admin", null, new { @class = "btn btn-success m-2" })
</section>



