@model SafeFutureWebApplication.Models.User
@{
    ViewData["Title"] = "Home Page";
    <!-- Home/Index.cshtml -->
}

<div class="container">
    <div class="row">
        @Html.ActionLink("Admin Portal", "Index", "Admin", null, new { @class = "btn btn-success m-2" })
        @Html.ActionLink("Staff Portal", "Index", "Staff", null, new { @class = "btn btn-success m-2" })

    </div>

</div>

