@model SafeFutureWebApplication.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Account Recovery";
}

<div class="container mt-5">
    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["ErrorMessage"].ToString()
        </div>
    }
    <h2>Account Recovery</h2>
    <div>
        <form asp-controller="Home" asp-action="NewPassword" method="post">
            <input type="hidden" asp-for="Username" value="@Model.Username" />
            <div>
                <label asp-for="Password">New Password</label>
                <input asp-for="Password" type="password" class="form-control" required/>
            </div>
            <div>
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" required/>
            </div>

            <button type="submit" class="btn btn-success mt-3 px-4 py-2"> Submit</button>
        </form>
    </div>
</div>
