@{
    ViewData["Title"] = "Account Recovery";
}

<div class="container">
    <h2>Account Recovery</h2>
    <div style="display:flex; align-items:center;justify-content:center;">
        <form asp-action="Index" method="get" style="margin-bottom: 5px;">
            <label for="username">Please enter your username</label>
            <input type="text" class="form-control" style="margin:1em 0;" placeholder="Username" name="username">
            <button class="custom-button">Submit</button>
        </form>
    </div>
</div>

