@{
    ViewData["Title"] = "Account Recovery";
}

@{
    <div class="container">
    <h2>Account Recovery</h2>
    @{
        User recoveryUser = ViewData["RecoveryUser"] as User;
        if (recoveryUser is null || !recoveryUser is User)
        {
            <div style="display:flex; align-items:center;justify-content:center;">
                <form asp-controller="Home" asp-action="Recovery" method="post" style="margin-bottom: 5px;">
                    <label for="Username">Please enter your username</label>
                    <input type="text" class="form-control" style="margin:1em 0;" placeholder="Username">
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>

        }
        else
        {
            <div>
                <label></label>
                <input />
            </div>
        }
    }
    </div>
}

