@model SafeFutureWebApplication.Models.Recipient

<div class="modal fade" tabindex="-1" role="dialog" id="addRecipient">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Recipient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="Staff/AddRecipient">

            <input name="IsValid" type="hidden" value="@ViewBag.ValidRecipient" />

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="FirstName">First Name</label>
                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="MiddleName">Middle Name</label>
                    <input asp-for="MiddleName" type="text" class="form-control" placeholder="Middle Name">
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label asp-for="Address1">Address</label>
                    <input asp-for="Address1" type="text" class="form-control" placeholder="Address">
                </div>
                <div class="form-group">
                    <label asp-for="Address2">Address 2</label>
                    <input asp-for="Address2" type="text" class="form-control" placeholder="Address 2">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="ZipCode">Zip Code</label>
                    <input asp-for="ZipCode" type="text" class="form-control" placeholder="Zip Code">
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="HouseholdSize">Household Size</label>
                    <input asp-for="HouseholdSize" type="number" class="form-control" value="1">
                    <span asp-validation-for="HouseholdSize" class="text-danger"></span>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-save="modal">Add Recipient</button>
      </div>
    </div>
  </div>
</div>
