@{
    ViewData["Title"] = "Staff Page";
    <!-- Staff/Index.cshtml -->
}

<div class="container">
    <div class="row">
        @Html.ActionLink("Search Button", "Search", "Staff", null, new { @class = "btn btn-success m-2" })
        @Html.ActionLink("Search Participants", "Index", "Volunteer", null, new { @class = "btn btn-success m-2" })
        @Html.ActionLink("Add a Participant", "AddParticipant", "Volunteer", null, new { @class = "btn btn-success m-2" })
    </div>

</div>
