@{
    ViewData["Title"] = "Staff Page";
    <!-- Staff/Index.cshtml -->
}

<div class="container">
    <div class="row">
        @Html.ActionLink("Placeholder Button", "Index", "Staff", null, new { @class = "btn btn-success m-2" })
        

    </div>

</div>
